<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="cn.why.thesis.mapper.ItemMapper">
	
	<select id="queryItemList"  resultType="cn.why.thesis.entity.Item">
		select id,pid,name,url,target from item
	</select> 
</mapper>